<f:layout name="Default" />

<f:section name="content">
	<h3>{f:translate(key: 'tx_pforum_domain_model_topic')}</h3>
	<p>{f:translate(key: 'noHiddenTopics')}</p>

	<table class="table">
		<thead>
		<tr>
			<td>{f:translate(key: 'tx_pforum_domain_model_topic.title')}</td>
			<td>{f:translate(key: 'tx_pforum_domain_model_topic.description')}</td>
			<td>&nbsp;</td>
		</tr>
		</thead>
		<tbody>
		<f:for each="{topics}" as="topic">
			<tr>
				<td>{topic.title}</td>
				<td>{topic.description}</td>
				<td>
					<f:link.action action="activate"
								   arguments="{topic: topic}">
						{f:translate(key: 'activate')}
					</f:link.action>
				</td>
			</tr>
		</f:for>
		</tbody>
	</table>

	<h3>{f:translate(key: 'tx_pforum_domain_model_post')}</h3>
	<p>{f:translate(key: 'noHiddenPosts')}</p>

	<table class="table">
		<thead>
		<tr>
			<td>{f:translate(key: 'tx_pforum_domain_model_post.title')}</td>
			<td>{f:translate(key: 'tx_pforum_domain_model_post.description')}</td>
			<td>&nbsp;</td>
		</tr>
		</thead>
		<tbody>
		<f:for each="{posts}" as="post">
			<tr>
				<td>{post.title}</td>
				<td>{post.description}</td>
				<td>
					<f:link.action action="activate"
								   arguments="{post: post}">
						{f:translate(key: 'activate')}
					</f:link.action>
				</td>
			</tr>
		</f:for>
		</tbody>
	</table>
</f:section>
