<html lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
	<f:flashMessages />

	<f:render partial="Component/Topic/Breadcrumb"
				arguments="{forum: forum}" />

	<f:form action="create" name="topic" object="{topic}" arguments="{forum: forum}" enctype="multipart/form-data">
		<f:render partial="FormErrors" arguments="{object: 'topic'}" />

		<f:if condition="{settings.auth} == 1">
			<f:render partial="User/FormFields" arguments="{object: 'topic'}" />
		</f:if>

		<f:render partial="Topic/FormFields" arguments="{object: 'topic'}" />

		<div class="mb-3">
			<f:form.submit class="btn btn-primary" value="{f:translate(key: 'newTopic')}" />
			<f:form.submit class="btn btn-secondary" name="preview" value="{f:translate(key: 'preview')}" />
		</div>
	</f:form>
</f:section>
</html>
