<html lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
	<f:flashMessages />

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<f:link.action action="list" controller="Forum">{f:translate(key: 'tx_pforum_domain_model_forum')}</f:link.action>
			</li>
			<li class="breadcrumb-item">
				<f:link.action action="show" controller="Forum" arguments="{forum: topic.forum}">
					{topic.forum.title}
				</f:link.action>
			</li>
			<li class="breadcrumb-item active" aria-current="page">
				{topic.title}
			</li>
		</ol>
	</nav>

	<div class="list-group list-group-flush mb-3">
		<div class="list-group-item p-0 py-1 bg-light">
			<div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1">{topic.title}</h5>
				<small>
					{topic.crdate -> f:format.date(format: 'd.m.Y')}&nbsp;|
					{f:translate(key: 'from')}:
					<f:render partial="User/Username" arguments="{user: topic.user}" /> |
					{topic.posts -> f:count()}&nbsp;{f:translate(key: 'tx_pforum_domain_model_topic.posts')}
				</small>
			</div>

			<p class="mb-1">{topic.description -> f:format.html(parseFuncTSPath: 'lib.parseFunc') -> f:format.nl2br()}</p>
		</div>
	</div>

	<div class="bg-light">
		<f:if condition="{topic.images}">
			<div>
				<f:for each="{topic.images}" as="image">
					<div>
						<figure>
							<f:image image="{image}"
											 alt="{image.title}"
											 width="{settings.image.width}"
											 height="{settings.image.height}"
											 minWidth="{settings.image.minWidth}"
											 maxWidth="{settings.image.maxWidth}"
											 minHeight="{settings.image.minHeight}"
											 maxHeight="{settings.image.maxHeight}" />
						</figure>
					</div>
				</f:for>
			</div>
		</f:if>
	</div>

	<f:render section="checkAndRenderCreationButton" arguments="{_all}" />

	<f:if condition="{posts}">
		<f:then>
			<div class="list-group list-group-flush">
				<f:for each="{posts}" as="post">
					<div class="list-group-item p-0 py-1">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">{post.title}</h5>
							<small>
								{post.crdate -> f:format.date(format: 'd.m.Y')} |
								{f:translate(key: 'from')}:&nbsp;<f:render partial="User/Username" arguments="{user: post.user}" />
							</small>
						</div>

						<p class="mb-1">{post.description -> f:format.html(parseFuncTSPath: 'lib.parseFunc') ->f:format.nl2br()}</p>

						<f:if condition="{post.hidden}">
							<div>
								<f:form action="activate" controller="Post" name="post" arguments="{post: post}">
									<f:form.submit value="{f:translate(key: 'activate')}" />
								</f:form>
							</div>
						</f:if>
					</div>
				</f:for>
			</div>

			<f:render partial="Component/Pagination"
								arguments="{pagination: pagination, paginator: paginator, actionName: 'show'}" />
		</f:then>
		<f:else>
			<div class="alert alert-info" role="alert">
				{f:translate(key: 'noPosts')}
			</div>
		</f:else>
	</f:if>
</f:section>

<f:section name="checkAndRenderCreationButton">
	<f:if condition="{settings.auth} == 1">
		<f:then>
			<f:render section="renderCreationButton" arguments="{_all}" />
		</f:then>
		<f:else>
			<f:security.ifHasRole role="{settings.uidOfUserGroup}">
				<f:render section="renderCreationButton" arguments="{_all}" />
			</f:security.ifHasRole>
		</f:else>
	</f:if>
</f:section>

<f:section name="renderCreationButton">
	<p>
		<f:link.action action="new"
									 controller="Post"
									 pageUid="{settings.pidOfDetailPage}"
									 class="btn btn-primary"
									 arguments="{topic: topic, forum: forum}">
			{f:translate(key: 'newPost')}
		</f:link.action>
	</p>
</f:section>
</html>
