<html lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">

<p>Sie haben einen neuen Beitrag geschrieben. Folgende Optionen stehen Ihnen zur Verfuegung:</p>
<div>
	<f:if condition="{settings.post.hideAtCreation}">
		<f:if condition="{settings.post.activateByAdmin} == 0">
			<div>
				<f:link.action pageUid="{settings.pidOfDetailPage}"
											 action="activate"
											 controller="Topic"
											 pluginName="forum"
											 extensionName="pforum"
											 absolute="1"
											 noCache="1"
											 arguments="{topic: topic}">
					{f:translate(key: 'activateTopic')}
				</f:link.action>
			</div>
		</f:if>
	</f:if>

	<div>
		<f:link.action pageUid="{settings.pidOfDetailPage}"
									 action="edit"
									 controller="Topic"
									 pluginName="forum"
									 extensionName="pforum"
									 absolute="1"
									 arguments="{topic: topic}">
			{f:translate(key: 'editTopic')}
		</f:link.action>
	</div>

	<div>
		<f:link.action pageUid="{settings.pidOfDetailPage}"
									 action="delete"
									 controller="Topic"
									 pluginName="forum"
									 extensionName="pforum"
									 absolute="1"
									 arguments="{topic: topic}">
			{f:translate(key: 'deleteTopic')}
		</f:link.action>
	</div>
</div>
</html>
