<html lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
	<f:flashMessages />

	<h3>{f:translate(key: 'preview')}</h3>

	<div class="card mb-3 bg-light">
		<div class="row g-0">
			<f:if condition="{post.images}">
				<div class="col-md-2">
					<f:for each="{post.images}" as="image">
						<f:image image="{image}"
										 alt="{image.title}"
										 class="img-fluid rounded-start"
										 width="{settings.image.width}"
										 height="{settings.image.height}"
										 minWidth="{settings.image.minWidth}"
										 maxWidth="{settings.image.maxWidth}"
										 minHeight="{settings.image.minHeight}"
										 maxHeight="{settings.image.maxHeight}"/>
					</f:for>
				</div>
			</f:if>

			<div class="col-md-10">
				<div class="card-body">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">
							{post.title}
						</h5>
						<small>
							{post.crdate -> f:format.date(format: 'd.m.Y')}&nbsp;|
							{f:translate(key: 'from')}:
							<f:render partial="User/Username" arguments="{user: post.user}" />
						</small>
					</div>

					<p class="card-text">{post.description -> f:format.html(parseFuncTSPath: 'lib.parseFunc') -> f:format.nl2br()}</p>
				</div>
			</div>
		</div>
	</div>

	<h3>{f:translate(key: 'editPost')}</h3>

	<f:form action="update" name="post" object="{post}" enctype="multipart/form-data">
		<f:render partial="FormErrors" arguments="{object: Post}"/>

		<f:if condition="{isNew}">
			<f:form.hidden name="isNew" value="{isNew}" />
		</f:if>

		<f:if condition="{settings.auth} == 1">
			<f:render partial="User/FormFields" arguments="{object: 'post', post: post}" />
		</f:if>

		<f:render partial="Post/FormFields" arguments="{object: 'post'}" />

		<f:form.submit class="btn btn-primary" value="{f:translate(key: 'save')}" />
	</f:form>
</f:section>
</html>
