<f:layout name="Default" />

<f:section name="main">
	<f:flashMessages renderMode="div" class="info-box2"/>
	<header>
		<h2>
			<f:translate key="preview"/>
		</h2>
	</header>
	<f:render partial="FormErrors" arguments="{object: Post}"/>

	<f:if condition="{isPreview}">
		<div class="marginbottom">
			<h1>{post.title}</h1>
			<p>{post.description -> f:format.html(parseFuncTSPath: 'lib.parseFunc') -> f:format.nl2br()}</p>
		</div>
	</f:if>
	<header><h2><f:translate key="editPost"/></h2></header>
	<f:form action="update" class="tx-comments-comment-form" name="post" object="{post}" enctype="multipart/form-data">
		<f:if condition="{isNew}">
			<f:form.hidden name="isNew" value="{isNew}" />
		</f:if>
		<f:if condition="{settings.auth} == 1">
			<f:render partial="User/FormFields" arguments="{object: 'post', post: post}" />
		</f:if>
		<f:render partial="Post/FormFields" arguments="{object: 'post'}" />
		<div class="submitwrap">
			<f:form.submit value="<f:translate key='save'/>" />
		</div>
	</f:form>
</f:section>