<html lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
	<f:flashMessages />

	<h3>{f:translate(key: 'preview')}</h3>

	<div class="list-group list-group-flush mb-3">
		<div class="list-group-item p-0 p-1 bg-light">
			<div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1">
					{post.title}
				</h5>
				<small>
					{post.crdate -> f:format.date(format: 'd.m.Y')}&nbsp;|
					{f:translate(key: 'from')}:
					<f:render partial="User/Username" arguments="{user: post.user}" />
				</small>
			</div>

			<p class="mb-1">
				{post.description -> f:format.html(parseFuncTSPath: 'lib.parseFunc') -> f:format.nl2br()}
			</p>
		</div>
	</div>

	<h3>{f:translate(key: 'editPost')}</h3>

	<f:form action="update" name="post" object="{post}" enctype="multipart/form-data">
		<f:render partial="FormErrors" arguments="{object: Post}"/>

		<f:if condition="{isNew}">
			<f:form.hidden name="isNew" value="{isNew}" />
		</f:if>

		<f:if condition="{settings.auth} == 1">
			<f:render partial="User/FormFields" arguments="{object: 'post', post: post}" />
		</f:if>

		<f:render partial="Post/FormFields" arguments="{object: 'post'}" />

		<f:form.submit class="btn btn-primary" value="{f:translate(key: 'save')}" />
	</f:form>
</f:section>
</html>
