<html lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
	<f:flashMessages />

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<f:link.action action="list" controller="Forum">{f:translate(key: 'tx_pforum_domain_model_forum')}</f:link.action>
			</li>
			<li class="breadcrumb-item">
				<f:link.action action="show" controller="Forum" arguments="{forum: topic.forum}">
					{topic.forum.title}
				</f:link.action>
			</li>
			<li class="breadcrumb-item">
				<f:link.action action="show" controller="Topic" arguments="{topic: topic}">
					{topic.title}
				</f:link.action>
			</li>
			<li class="breadcrumb-item active" aria-current="page">
				{f:translate(key: 'newPost')}
			</li>
		</ol>
	</nav>

	<f:form action="create" name="newPost" object="{newPost}" arguments="{topic: topic}" enctype="multipart/form-data">
		<f:render partial="FormErrors" arguments="{object: 'newPost'}" />

		<f:if condition="{settings.auth} == 1">
			<f:render partial="User/FormFields" arguments="{object: 'newPost'}" />
		</f:if>

		<f:render partial="Post/FormFields" arguments="{object: 'newPost'}" />

		<div class="mb-3">
			<f:form.submit class="btn btn-primary" value="{f:translate(key: 'newPost')}" />
			<f:form.submit class="btn btn-secondary" name="preview" value="{f:translate(key: 'preview')}" />
		</div>
	</f:form>
</f:section>
</html>
