<f:layout name="Default" />

<f:section name="main">
	<div class="breadcrumb">
		<f:link.action action="show" controller="Topic" arguments="{topic: topic}">{topic.forum.title} » </f:link.action> <f:translate key="newPost"/>
	</div>

	<f:form action="create"  name="newPost" object="{newPost}" arguments="{topic: topic}" class="tx-comments-comment-form" enctype="multipart/form-data">
		<f:if condition="{settings.auth} == 1">
			<f:render partial="User/FormFields" arguments="{object: 'newPost'}" />
		</f:if>
		<f:render partial="Post/FormFields" arguments="{object: 'newPost'}" />
		<fieldset class="marginbottom2">
			<div class="submitwrap submitwrap2">
				<f:form.submit value="{f:translate(key: 'newPost')}" />
			</div>
			<div class="submitwrap submitwrap2">
				<f:form.submit name="preview" value="{f:translate(key: 'preview')}" />
			</div>
		</fieldset>
		<p class="clearer">
			<span class="error">*</span> <f:translate key='LLL:fileadmin/templates/language/locallang.xml:mandatory'/>
		</p>
	</f:form>
</f:section>