<f:layout name="Default" />

<f:section name="main">
	<f:flashMessages />

	<h2>{f:translate(key: 'tx_pforum_domain_model_forum')}</h2>

	<f:if condition="{forums -> f:count()}">
		<f:then>
			<f:for each="{forums}" as="forum">
				<div>
					<header>
						<h3>
							<f:link.action pageUid="{settings.pidOfDetailPage}"
										   action="show"
										   arguments="{forum: forum}">
								{forum.title}
							</f:link.action>
						</h3>
					</header>

					<f:if condition="{forum.teaser}">
						<p>{forum.teaser}</p>
					</f:if>

					<div>
						<f:link.action pageUid="{settings.pidOfDetailPage}"
									   action="show"
									   arguments="{forum: forum}">
							{forum.topics -> f:count()} {f:translate(key: 'tx_pforum_domain_model_forum.topics')}
						</f:link.action>
					</div>
				</div>
			</f:for>
		</f:then>
		<f:else>
			<p>{f:translate(key: 'noResults')}</p>
		</f:else>
	</f:if>
</f:section>
