<html lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
	<f:flashMessages />

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<f:link.action action="list">{f:translate(key: 'tx_pforum_domain_model_forum')}</f:link.action>
			</li>
			<li class="breadcrumb-item active" aria-current="page">{forum.title}</li>
		</ol>
	</nav>

	<h2>{forum.title}</h2>

	<f:render section="checkAndRenderCreationButton" arguments="{_all}" />

	<f:if condition="{topics}">
		<f:then>
			<f:for each="{topics}" as="topic">
				<div class="borderbottom">
					<h3>
						<f:link.action pageUid="{settings.pidOfDetailPage}"
										 action="show"
										 controller="Topic"
										 arguments="{topic: topic, forum: forum}">
							{topic.title}
						</f:link.action>
					</h3>

					<div>
						{topic.crdate -> f:format.date(format: 'd.m.Y')}&nbsp;|
						{f:translate(key: 'from')}:
						<f:render partial="User/Username" arguments="{user: topic.user}" /> |
						{topic.posts -> f:count()}&nbsp;{f:translate(key: 'tx_pforum_domain_model_topic.posts')}
					</div>

					<f:if condition="{topic.hidden}">
						<div>
							<f:form action="activate" controller="Topic" name="topic" arguments="{topic: topic}">
								<f:form.submit value="{f:translate(key: 'activate')}" />
							</f:form>
						</div>
					</f:if>
				</div>
			</f:for>
			<f:render partial="Component/Pagination"
								arguments="{pagination: pagination, paginator: paginator, actionName: 'show'}" />
		</f:then>
		<f:else>
			<div class="alert alert-info" role="alert">
				{f:translate(key: 'noTopics')}
			</div>
		</f:else>
	</f:if>
</f:section>

<f:section name="checkAndRenderCreationButton">
	<f:if condition="{settings.auth} == 1">
		<f:then>
			<f:render section="renderCreationButton" arguments="{_all}" />
		</f:then>
		<f:else>
			<f:security.ifHasRole role="{settings.uidOfUserGroup}">
				<f:render section="renderCreationButton" arguments="{_all}" />
			</f:security.ifHasRole>
		</f:else>
	</f:if>
</f:section>

<f:section name="renderCreationButton">
	<p>
		<f:link.action action="new"
									 controller="Topic"
									 pageUid="{settings.pidOfDetailPage}"
									 class="btn btn-primary"
									 arguments="{forum: forum}">
			{f:translate(key: 'newTopic')}
		</f:link.action>
	</p>
</f:section>
</html>
