<html lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:pf="http://typo3.org/ns/JWeiland/Pforum/ViewHelper"
			data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
	<f:flashMessages />

	<f:render partial="Component/Forum/Breadcrumb"
				arguments="{forum: forum}" />

	<h2>{forum.title}</h2>

	<f:render section="renderCreationButton" arguments="{_all}" />

	<f:if condition="{topics}">
		<f:then>
			<f:for each="{topics}" as="topic">
				<div class="row border-bottom mb-3">
					<div class="col-md-12">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">
								<f:link.action pageUid="{settings.pidOfDetailPage}"
															 action="show"
															 controller="Topic"
															 arguments="{topic: topic, forum: forum}">
									{topic.title}
								</f:link.action>
							</h5>
							<small>
								{topic.crdate -> f:format.date(format: 'd.m.Y')}&nbsp;|
								{f:translate(key: 'from')}:
								<f:render partial="User/Username" arguments="{user: topic.user}" /> |
								{topic.posts -> f:count()}&nbsp;{f:translate(key: 'tx_pforum_domain_model_topic.posts')}
							</small>
						</div>

						<f:if condition="{topic.description}">
							<p class="mb-1">{topic.description -> f:format.crop(maxCharacters: 150, respectWordBoundaries: true, respectHtml: true)}</p>
						</f:if>

						<f:if condition="{topic.hidden}">
							<div>
								<f:form action="activate" controller="Topic" name="topic" arguments="{topic: topic}">
									<f:form.submit value="{f:translate(key: 'activate')}" />
								</f:form>
							</div>
						</f:if>
					</div>
				</div>
			</f:for>

			<f:render partial="Component/Pagination"
								arguments="{pagination: pagination, paginator: paginator, actionName: 'show'}" />
		</f:then>
		<f:else>
			<div class="alert alert-info" role="alert">
				{f:translate(key: 'noTopics')}
			</div>
		</f:else>
	</f:if>
</f:section>

<f:section name="renderCreationButton">
	<f:if condition="!{forum.archived} && {pf:isCreateButtonAllowed(authType: settings.auth, userGroupUid: uidOfUserGroup)}">
		<p>
			<f:link.action action="new"
										 controller="Topic"
										 pageUid="{settings.pidOfDetailPage}"
										 class="btn btn-primary"
										 arguments="{forum: forum}">
				{f:translate(key: 'newTopic')}
			</f:link.action>
		</p>
	</f:if>
</f:section>
</html>
