<fieldset class="grid_12">
	<div class="extdiv">
		<label for="title" class="margintop">
			<f:translate key="tx_pforum_domain_model_topic.title" /> <span class="required">*</span>
		</label>
		<f:form.textfield property="title" />
	</div>
	<div class="extdiv">
		<label for="description" class="margintop">
			<f:translate key="tx_pforum_domain_model_topic.description" />  <span class="required">*</span>
		</label>
		<f:form.textarea property="description" cols="40" rows="15" />
	</div>
	<f:if condition="{settings.useImages}">
		<div class="extdiv">
			<label for="images" class="margintop">
				<f:translate key="tx_pforum_domain_model_topic.images" />
			</label>
			<f:form.upload name="{object}[images][0]" class="marginbottom" /><br />
			<f:form.upload name="{object}[images][1]" />
		</div>
	</f:if>
</fieldset>