<html lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">

<h2>{f:translate(key: 'tx_pforum_domain_model_{type}')}</h2>

<f:if condition="{records}">
	<f:then>
		<table class="table table-striped table-hover">
			<thead>
			<tr>
				<td>{f:translate(key: 'tx_pforum_domain_model_{type}.title')}</td>
				<td>{f:translate(key: 'tx_pforum_domain_model_{type}.description')}</td>
				<td>&nbsp;</td>
			</tr>
			</thead>
			<tbody>
			<f:for each="{records}" as="record">
				<tr>
					<td>{record.title}</td>
					<td>{record.description}</td>
					<td>
						<f:link.action action="{action}"
													 class="btn btn-default"
													 arguments="{record: record}">
							{f:translate(key: 'activate')}
						</f:link.action>
					</td>
				</tr>
			</f:for>
			</tbody>
		</table>
	</f:then>
	<f:else>
		<p>{f:translate(key: 'noHiddenRecords')}</p>
	</f:else>
</f:if>
</html>
