<table class="tx-pforum" >
	<tr>
		<td>
			<f:translate key="tx_pforum_domain_model_user.name" />
		</td>
		<td>
			{user.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pforum_domain_model_user.username" />
		</td>
		<td>
			{user.username}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pforum_domain_model_user.email" />
		</td>
		<td>
			{user.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pforum_domain_model_user.password" />
		</td>
		<td>
			{user.password}
		</td>
	</tr>
</table>